@model TheaterManager.Domain.Theater

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<div>
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Add Showtime", "Create", "TheaterMovies", new { TheaterID = Model.TheaterID }, htmlAttributes: new { @class = "btn btn-warning" })
        @Html.ActionLink("Edit", "Edit", new { id = Model.TheaterID }, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.TheaterID }, htmlAttributes: new { @class = "btn btn-danger" })
    </p>

    @if (Enumerable.Count(ViewBag.Movies) > 0)
    {
        <h2>Now Playing</h2>
        foreach (var movie in ViewBag.Movies)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="@Url.Action("Details", "Movies", new { id = movie.MovieID })">
                        @movie.Name
                    </a>
                </div>
                <div class="panel-body">
                    @foreach (var showtime in movie.TheaterMovies)
                    {
                        <a href="@Url.Action("Details", "TheaterMovies", new { id = showtime.Id })">
                            <p>@showtime.Showtime</p>
                        </a>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <h3>It looks like this theater doesn't have any available showtimes. @Html.ActionLink("Click here", "Create", "TheaterMovies", new { TheaterID = Model.TheaterID }, htmlAttributes: new { }) to add one.</h3>
    }
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
